---
import JobBoardCard from "../components/JobBoardCard.astro";
import Layout from "../layouts/Layout.astro";
import { constants } from "../constants";
import NoImage from "../assets/sponsors/no-image.png";
import Image from "astro/components/Image.astro";
---

<style>
  .job-board {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 24px;
  }
</style>

<Layout title="ジョブボード" titleEn="Job Board">
  <div class="job-board">
    {
      constants.jobBoard.platinumGoldSponsors.map(
        (sponsor) =>
          sponsor.imageSrc !== NoImage && (
            <JobBoardCard
              src={sponsor.imageSrc}
              alt={sponsor.name}
              width={sponsor.width}
              height={sponsor.height}
              description={sponsor.dialog.description}
            />
          ),
      )
    }
  </div>
</Layout>
