---
import Button from "../components/Button.astro";
import TimetableCard from "../components/TimetableCard.astro";
import sessions from "../data/sessions.json";
import Layout from "../layouts/Layout.astro";
import "../styles/sub-page.css";

/**
 * セッションのラベルを取得
 * @param session セッション
 * @param index セッションのインデックス
 * @returns セッションのラベル
 */
const getSessionLabel = (
  session: (typeof sessions.sessions)[0],
  index: number,
) => {
  const roomType = getSessionRoom(session.roomId) === "RoomA" ? "A" : "B";
  // TODO: セッションのラベルを取得
  return `${roomType}${index + 1}-SP`;
};

/**
 * セッションの時間区分を取得
 * @param sessionId セッションのID
 * @returns セッションの時間区分
 */
const getSessionTime = (sessionId: number[]) => {
  // セッションのタイプを取得
  const sessionType = sessions.categories.find(
    (category) => category.title === "Session Type",
  );

  return (
    sessionType?.items.find((item) => sessionId.includes(item.id))?.name || ""
  );
};

/**
 * 日時を時間フォーマットに変換
 * @param time 日時
 * @returns フォーマットされた時間
 */
const getFormattedTime = (time: string) => {
  const date = new Date(time);
  return new Intl.DateTimeFormat("ja-JP", {
    hour: "2-digit",
    minute: "2-digit",
  }).format(date);
};

/**
 * セッションの部屋区分を取得
 * @param roomId 部屋のID
 * @returns 部屋の名前
 */
const getSessionRoom = (roomId: number) => {
  return sessions.rooms.find((room) => room.id === roomId)?.name || "";
};

/**
 * セッションの登壇者名を取得
 * @param speakerId 登壇者のID
 * @returns 登壇者の名前
 */
const getSessionSpeakerName = (speakerId?: string) => {
  return (
    sessions.speakers.find((speaker) => speaker.id === speakerId)?.fullName ||
    ""
  );
};

/**
 * 登壇者のプロフィール画像を取得
 * @param speakerId 登壇者のID
 * @returns 登壇者のプロフィール画像
 */
const getSessionSpeakerThumbnailSrc = (speakerId?: string) => {
  return (
    sessions.speakers.find((speaker) => speaker.id === speakerId)
      ?.profilePicture || ""
  );
};
---

<style>
  .section-title .day-date {
    margin-left: 16px;
    font-size: 24px;
    vertical-align: text-bottom;
  }

  .timetable-nav {
    margin-bottom: 40px;

    & ul {
      display: flex;
      gap: 24px;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .timetable-grid {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 8px 16px;
    width: 100%;
  }

  .room-title {
    padding: 16px 40px;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    background-color: var(--primitive-cyan);
    color: var(--text-on-fill);
    text-align: center;

    &.room-a {
      background-color: var(--primitive-blue);
    }
  }

  .time-slot {
    display: flex;
    align-items: flex-start;

    span {
      position: sticky;
      top: calc(88px + 16px);
      left: 0;
      z-index: 1;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .session-cell {
    display: flex;
    height: 100%;
  }
</style>

<Layout title="タイムテーブル" titleEn="Timetable">
  <nav class="timetable-nav">
    <ul>
      <li>
        <Button href="#day1" size="small" variant="secondary">DAY1</Button>
      </li>
      <li>
        <Button href="#day2" size="small" variant="secondary">DAY2</Button>
      </li>
    </ul>
  </nav>

  <h2 id="day1" class="section-title">
    DAY1<span class="day-date">9.27 SAT</span>
  </h2>
  <article>
    <div class="timetable-grid">
      <!-- ヘッダー行 -->
      <div></div>
      <div class="room-title room-a">RoomA</div>
      <div class="room-title room-b">RoomB</div>

      <!-- コンテンツ行 -->
      <div class="time-slot" style="grid-row: span 3;">
        <span>10:00</span>
      </div>

      <div class="session-cell">
        <TimetableCard
          id={sessions.sessions[0].id}
          sessionLabel={getSessionLabel(sessions.sessions[0], 0)}
          title={sessions.sessions[0].title}
          timeStart={getFormattedTime(sessions.sessions[0].startsAt)}
          timeEnd={getFormattedTime(sessions.sessions[0].endsAt)}
          sessionTime={getSessionTime(sessions.sessions[0].categoryItems)}
          room={getSessionRoom(sessions.sessions[0].roomId)}
          speakerName={getSessionSpeakerName(
            sessions.sessions[0].speakers.at(0),
          )}
          speakerThumbnailSrc={getSessionSpeakerThumbnailSrc(
            sessions.sessions[0].speakers.at(0),
          )}
        />
      </div>

      <div class="session-cell">
        <TimetableCard
          id="649102"
          sessionLabel="B1-SP"
          title="タクシーアプリ『GO』高速マッチングシステムで実践したGoチューニングテクニックタクシーアプリ『GO』高速マッチングシステムで実践したGoチューニングテクニック"
          timeStart="10:00"
          timeEnd="10:20"
          sessionTime="Short Talk (20min)"
          room="RoomB"
          speakerName="山田太郎"
          speakerThumbnailSrc="https://placehold.jp/150x120.png"
        />
      </div>

      <div class="session-cell">
        <TimetableCard
          id="649102"
          sessionLabel="A1-SP"
          title="タクシーアプリ『GO』高速マッチングシステムで実践したGoチューニングテクニック"
          timeStart="10:00"
          timeEnd="10:20"
          sessionTime="Short Talk (20min)"
          room="RoomA"
          speakerName="山田太郎"
          speakerThumbnailSrc="https://placehold.jp/150x120.png"
        />
      </div>

      <div class="session-cell">
        <TimetableCard
          id="649102"
          sessionLabel="B1-SP"
          title="タクシーアプリ『GO』高速マッチングシステムで実践したGoチューニングテクニック"
          timeStart="10:00"
          timeEnd="10:20"
          sessionTime="Short Talk (20min)"
          room="RoomB"
          speakerName="山田太郎"
          speakerThumbnailSrc="https://placehold.jp/150x120.png"
        />
      </div>

      <div class="session-cell">
        <TimetableCard
          id="649102"
          sessionLabel="A1-SP"
          title="タクシーアプリ『GO』高速マッチングシステムで実践したGoチューニングテクニック"
          timeStart="10:00"
          timeEnd="10:20"
          sessionTime="Short Talk (20min)"
          room="RoomA"
          speakerName="山田太郎"
          speakerThumbnailSrc="https://placehold.jp/150x120.png"
        />
      </div>

      <div class="session-cell">
        <TimetableCard
          id="649102"
          sessionLabel="B1-SP"
          title="タクシーアプリ『GO』高速マッチングシステムで実践したGoチューニングテクニック"
          timeStart="10:00"
          timeEnd="10:20"
          sessionTime="Short Talk (20min)"
          room="RoomB"
          speakerName="山田太郎"
          speakerThumbnailSrc="https://placehold.jp/150x120.png"
        />
      </div>
    </div>
  </article>
</Layout>
