---
import { Image } from "astro:assets";
import Button from "./Button.astro";
const currentLocale = Astro.currentLocale || "ja";
interface Props {
  src: any;
  alt: string;
  width: number;
  height: number;
  link?: string;
}

const { src, alt, width, height, link } = Astro.props;
---

<style>
  .board-card {
    display: flex;
    flex-direction: column;
    gap: 80px;
    border: 2px solid var(--primitive-light-gray);
    flex: 0 0 calc(100% / 3);
    width: 540px;
    height: 270px;
  }

  .board-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: auto;
  }

  .board-card a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  @media (max-width: 1200px) {
    .board-card {
      grid-template-columns: 1fr; /* 1200px以下なら1列 */
      width: unset;
      height: unset;
      max-width: 1120px;
      max-height: 560px;
      aspect-ratio: 2 / 1;
    }
  }
</style>

<div class="board-card">
  <a href={link} target="_blank">
    <Image src={src} alt={alt} width={width} height={height} loading="lazy" />
  </a>
</div>
