---
import NoImage from "../assets/sponsors/no-image.png";
import { Image } from "astro:assets";
import { constants } from "../constants";
import Dialog from "./Dialog.astro";

const currentLocale = Astro.currentLocale || "ja";
---

<style>
  .sponsor-section {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .special-sponsor img,
  .platinum-gold-sponsor-list img,
  .gold-sponsor-list img,
  .silver-sponsor-list img,
  .bronze-sponsor-list img,
  .tool-sponsor-list img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  .special-sponsor li,
  .platinum-gold-sponsor-list li,
  .gold-sponsor-list li,
  .silver-sponsor-list li,
  .bronze-sponsor-list li,
  .tool-sponsor-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    background: none;
    padding: 10px;
  }

  .special-sponsor li {
    max-width: 400px;
    max-height: 200px;
    width: 100%;
  }
  .platinum-gold-sponsor-list li,
  .gold-sponsor-list li {
    max-width: 484px;
    max-height: 242px;
    width: 100%;
  }
  .silver-sponsor-list li {
    max-width: 290px;
    max-height: 163px;
    min-width: 150px;
    width: 100%;
  }
  .bronze-sponsor-list li {
    max-width: 220px;
    max-height: 100px;
    min-width: 120px;
    width: 100%;
  }
  .tool-sponsor-list li {
    max-width: 320px;
    max-height: 120px;
    width: 100%;
  }

  .special-sponsor ul,
  .platinum-gold-sponsor-list,
  .gold-sponsor-list,
  .silver-sponsor-list,
  .bronze-sponsor-list,
  .tool-sponsor-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    padding: 0;
  }

  @media (max-width: 1024px) {
    .special-sponsor li,
    .platinum-gold-sponsor-list li,
    .gold-sponsor-list li,
    .silver-sponsor-list li,
    .bronze-sponsor-list li,
    .tool-sponsor-list li {
      max-width: 100%;
    }
  }
  @media (max-width: 600px) {
    .sponsor-section {
      gap: 40px;
    }
    .special-sponsor li,
    .platinum-gold-sponsor-list li,
    .gold-sponsor-list li,
    .silver-sponsor-list li,
    .bronze-sponsor-list li,
    .tool-sponsor-list li {
      padding: 6px;
    }
  }
</style>

<div class="sponsor-section">
  <!-- 
  CA さんの情報が揃い次第コメントアウトを外す
  <div>
    <h2>{currentLocale === "ja" ? "会場スポンサー" : "Venue Sponsor"}</h2>
    <ul class="venue-sponsor">
      <li>
        <Image
          src={constants.jobBoard.venueSponsor.imageSrc}
          alt={constants.jobBoard.venueSponsor.name}
          width={constants.jobBoard.venueSponsor.width}
          height={constants.jobBoard.venueSponsor.height}
          loading="lazy"
          priority
          style="cursor:pointer"
          onclick={`const dialog = document.getElementById('${constants.jobBoard.venueSponsor.dialog.openId}'); if (dialog) dialog.showModal();`}
        />

        <Dialog
          openId={constants.jobBoard.venueSponsor.dialog.openId}
          sponsorSectionTitle={currentLocale === "ja"
            ? "会場スポンサー"
            : "Venue Sponsor"}
          sponsor={constants.jobBoard.venueSponsor}
        />
      </li>
    </ul>
  </div> -->

  <div class="special-sponsor">
    <h2>
      {currentLocale === "ja" ? "スペシャルスポンサー" : "Special Sponsor"}
    </h2>
    <ul>
      <li>
        <Image
          src={constants.jobBoard.specialSponsor.imageSrc}
          alt={constants.jobBoard.specialSponsor.name}
          width={constants.jobBoard.specialSponsor.width}
          height={constants.jobBoard.specialSponsor.height}
          loading="lazy"
          priority
          style="cursor:pointer"
          onclick={`const dialog = document.getElementById('${constants.jobBoard.specialSponsor.dialog.openId}'); if (dialog) dialog.showModal();`}
        />

        <Dialog
          openId={constants.jobBoard.specialSponsor.dialog.openId}
          sponsorSectionTitle={currentLocale === "ja"
            ? "スペシャルスポンサー"
            : `Special Sponsor`}
          sponsor={constants.jobBoard.specialSponsor}
        />
      </li>
    </ul>
  </div>

  <div>
    <h2>Platinum "<span class="accent">Go</span> "ld</h2>
    <ul class="platinum-gold-sponsor-list">
      {
        constants.jobBoard.platinumGoldSponsors.map((sponsor) => (
          <li>
            <Image
              src={sponsor.imageSrc}
              alt={sponsor.name}
              width={sponsor.width}
              height={sponsor.height}
              loading="lazy"
              priority
              style="cursor:pointer"
              onclick={`const dialog = document.getElementById('${sponsor.dialog.openId}'); if (dialog) dialog.showModal();`}
            />

            <Dialog
              openId={sponsor.dialog.openId}
              sponsorSectionTitle={
                currentLocale === "ja"
                  ? "プラチナGoルド スポンサー"
                  : `Platinum "Go"ld Sponsor`
              }
              sponsor={sponsor}
            />
          </li>
        ))
      }
    </ul>
  </div>

  <div>
    <h2>Gold</h2>
    <ul class="gold-sponsor-list">
      {
        constants.jobBoard.goldSponsors.map((sponsor) => (
          <li>
            <Image
              src={sponsor.imageSrc}
              alt={sponsor.name}
              width={sponsor.width}
              height={sponsor.height}
              loading="lazy"
              priority
              style="cursor:pointer"
              onclick={`const dialog = document.getElementById('${sponsor.dialog.openId}'); if (dialog) dialog.showModal();`}
            />
            <Dialog
              openId={sponsor.dialog.openId}
              sponsorSectionTitle={
                currentLocale === "ja" ? "Goルドスポンサー" : `"Go"ld Sponsor`
              }
              sponsor={sponsor}
            />
          </li>
        ))
      }
    </ul>
  </div>

  <div>
    <h2>Silver</h2>
    <ul class="silver-sponsor-list">
      {
        constants.jobBoard.silverSponsors.map(
          (sponsor) =>
            sponsor.imageSrc !== NoImage && (
              <li>
                <Image
                  src={sponsor.imageSrc}
                  alt={sponsor.name}
                  width={sponsor.width}
                  height={sponsor.height}
                  loading="lazy"
                  priority
                />
              </li>
            ),
        )
      }
    </ul>
  </div>
  <!-- 
  08/31 の締め切り終了後に対応する
  <div>
    <h2>Bronze</h2>
    <ul class="bronze-sponsor-list">
      {
        constants.jobBoard.bronzeSponsors.map((sponsor) => (
          <li>
            <Image
              src={sponsor.imageSrc}
              alt={sponsor.name}
              width={sponsor.width}
              height={sponsor.height}
              loading="lazy"
              priority
            />
          </li>
        ))
      }
    </ul>
  </div>

  <div>
    <h2>Gopher</h2>
    <ul class="gopher-sponsor-list">
      {
        constants.jobBoard.gopherSponsors.map((sponsor) => (
          <li>
            <Image
              src={sponsor.imageSrc}
              alt={sponsor.name}
              width={sponsor.width}
              height={sponsor.height}
              loading="lazy"
              priority
            />
          </li>
        ))
      }
    </ul> -->

  <h3>{currentLocale === "ja" ? "ツールスポンサー" : "Tool Sponsor"}</h3>
  <ul class="tool-sponsor-list">
    {
      (
        <li>
          <Image
            src={constants.jobBoard.toolSponsor.imageSrc}
            alt={constants.jobBoard.toolSponsor.name}
            width={constants.jobBoard.toolSponsor.width}
            height={constants.jobBoard.toolSponsor.height}
            loading="lazy"
            priority
          />
        </li>
      )
    }
  </ul>
</div>
