---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import sessions from "../data/sessions.json";

interface Props {
  /**
   * セッションのID
   * @example 649102
   */
  id: string;
  /**
   * セッションの識別子
   * @example A1-SP
   */
  sessionLabel: string;
}

const { id, sessionLabel } = Astro.props;

const currentLocale = Astro.currentLocale || "ja";

/**
 * セッションの時間区分を取得
 * @param categoryItems カテゴリー
 * @returns セッションの時間区分
 */
const getSessionTime = (categoryItems: number[]) => {
  // セッションのタイプを取得
  const sessionType = sessions.categories.find(
    (category) => category.title === "Session Type",
  );

  return (
    sessionType?.items.find((item) => categoryItems.includes(item.id))?.name ||
    ""
  );
};

/**
 * 日時を時間フォーマットに変換
 * @param time 日時
 * @returns フォーマットされた時間
 */
const getFormattedTime = (time: string) => {
  const date = new Date(time);
  return new Intl.DateTimeFormat("ja-JP", {
    hour: "2-digit",
    minute: "2-digit",
  }).format(date);
};

// 現在のセッションを取得
const session = sessions.sessions.find((session) => session.id === id);
if (!session) return null;

const title = session.title;
const timeStart = getFormattedTime(session.startsAt);
const timeEnd = getFormattedTime(session.endsAt);
const sessionTime = getSessionTime(session.categoryItems);
const room =
  sessions.rooms.find((room) => room.id === session.roomId)?.name || "";
const speakerName =
  sessions.speakers.find((speaker) => speaker.id === session.speakers.at(0))
    ?.fullName || "";
const speakerThumbnailSrc =
  sessions.speakers.find((speaker) => speaker.id === session.speakers.at(0))
    ?.profilePicture || "";
---

<style>
  .timetable-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    padding: 16px 24px;
    border-radius: 16px;
    background-color: var(--primitive-light-cyan);
    color: var(--text-primary);
    height: 100%;
    box-sizing: border-box;

    &.room-a {
      background-color: var(--primitive-light-blue);
    }
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-header-time {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
  }

  .card-header-session-id {
    margin: 0;
    padding: 4px 16px;
    border-radius: 24px;
    font-size: 12px;
    font-weight: 700;
    color: var(--text-on-fill);
    background-color: var(--primitive-cyan);

    &.room-a {
      background-color: var(--primitive-blue);
    }
  }

  .card-title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
  }

  .card-title-link {
    color: var(--text-primary);
    text-decoration: none;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .speaker-info {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .speaker-thumbnail {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
  }

  .speaker-name {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
  }

  .session-time {
    margin: 0;
    font-size: 12px;
  }
</style>

<section class={`timetable-card ${room === "RoomA" ? "room-a" : "room-b"}`}>
  <div class="card-header">
    <p class="card-header-time">{timeStart} - {timeEnd}</p>
    <p
      class={`card-header-session-id ${room === "RoomA" ? "room-a" : "room-b"}`}
    >
      {sessionLabel}
    </p>
  </div>
  <h3 class="card-title">
    <a
      href={getRelativeLocaleUrl(currentLocale, `/timetable/${id}`)}
      class="card-title-link">{title}</a
    >
  </h3>
  <div class="card-footer">
    <div class="speaker-info">
      <Image
        src={speakerThumbnailSrc}
        alt={speakerName}
        width={24}
        height={24}
        loading="lazy"
        class="speaker-thumbnail"
      />
      <p class="speaker-name">{speakerName}</p>
    </div>
    <p class="session-time">{sessionTime}</p>
  </div>
</section>
