---
import "@fontsource/barlow/700.css";
import { Image } from "astro:assets";
import Gopher from "../assets/page-header-gopher.png";

import Footer from "../components/Footer.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import Header from "../components/Header.astro";
import { constants } from "../constants";
import { concatWithBase } from "../utils/concatWithBase";

/** 最大幅の指定がないレイアウト（トップページや凝ったページ作成時に利用してください） */

interface Props {
  /** ページタイトル（日本語部分） */
  title?: string;
  /** ページタイトル（英語部分） */
  titleEn?: string;
  /** metaタグのtitleやog:titleなどを直接指定するためのプロパティ */
  metaTitle?: string;
}

const { title, titleEn, metaTitle } = Astro.props;

const currentLocale = Astro.currentLocale || "ja";

// 現在のロケールに応じてタイトルを設定
const currentLocaleTitle = currentLocale === "ja" ? title : titleEn;

// ページタイトルの指定があれば固定のページ名と合わせて表示する
const pageTitle = (() => {
  // metaTitleが指定されている場合は優先的に使用
  if (metaTitle && metaTitle.length > 0) {
    return `${metaTitle} | ${constants.pageTitle}`;
  }

  // 現在のロケールに応じたタイトルがあれば使用
  if (!!currentLocaleTitle && currentLocaleTitle.length > 0) {
    return `${currentLocaleTitle} | ${constants.pageTitle}`;
  }

  return constants.pageTitle;
})();
---

<style>
  .body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }

  .article {
    flex: 1;
  }

  .page-header {
    background: var(--gradient);

    & .inner {
      position: relative;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding: 40px 40px;
      box-sizing: border-box;

      @media screen and (max-width: 860px) {
        & {
          padding: 24px 24px;
        }
      }
    }

    & .gopher {
      position: absolute;
      bottom: -110px;
      right: 0;
      z-index: 1;

      @media screen and (max-width: 860px) {
        & {
          bottom: -40px;
          right: 8px;
          width: 100px;
          height: auto;
        }
      }
    }
  }

  .page-title {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-right: 200px;
    box-sizing: border-box;
    font-weight: 700;
    color: var(--text-on-fill);
    overflow-wrap: break-word;

    @media screen and (max-width: 860px) {
      & {
        padding-right: 80px;
      }
    }

    & .jp {
      font-size: 24px;
      line-height: 1.5;

      @media screen and (max-width: 860px) {
        & {
          font-size: 18px;
        }
      }
    }

    & .en {
      font-family: "Barlow", sans-serif;
      font-size: 68px;
      line-height: 1.5;

      @media screen and (max-width: 860px) {
        & {
          font-size: 40px;
        }
      }
    }
  }

  .main {
    position: relative;
    background: var(--surface-primary);
    border-radius: 80px 80px 0 0;

    @media screen and (max-width: 860px) {
      & {
        border-radius: 20px 20px 0 0;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 80px;
      background: var(--gradient);
      z-index: -1;
    }

    & .inner {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding: 80px 40px;
      box-sizing: border-box;

      @media screen and (max-width: 860px) {
        & {
          padding: 40px 20px;
        }
      }
    }
  }
</style>

<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={new URL(concatWithBase("favicon.svg"), Astro.url)}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>

    <meta property="og:site_name" content={constants.pageTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={constants.pageDescription} />
    <meta
      property="og:image"
      content={new URL(concatWithBase("og_image_lg.png"), Astro.url)}
    />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={pageTitle} />
    <meta property="twitter:description" content={constants.pageDescription} />
    <meta
      property="twitter:image"
      content={new URL(concatWithBase("og_image_md.png"), Astro.url)}
    />
    <GlobalStyles />
  </head>
  <body class="body">
    <Header />
    <article class="article">
      <header class="page-header">
        <div class="inner">
          <h1 class="page-title">
            <span class="jp" aria-hidden={currentLocale === "en"}>
              {title}
            </span>
            <span class="en" aria-hidden={currentLocale === "ja"}>
              {titleEn}
            </span>
          </h1>
          <Image
            src={Gopher}
            alt="Gopher"
            class="gopher"
            width={275}
            height={275}
            priority
          />
        </div>
      </header>
      <main class="main">
        <div class="inner">
          <slot />
        </div>
      </main>
    </article>
    <Footer />
  </body>
</html>
